[submodule "multi_ontology_reference"]
	path = multi_ontology_reference
	url = https://github.com/EmaroLab/multi_ontology_reference
	branch = master
[submodule "armor"]
	path = armor
	url = https://github.com/EmaroLab/armor
	branch = master
[submodule "armor_msgs"]
	path = armor_msgs
	url = https://github.com/EmaroLab/armor_msgs.git
	branch = master
[submodule "ros_multi_ontology_references"]
	path = ros_multi_ontology_references
	url = https://github.com/EmaroLab/ros_multi_ontology_references.git
	branch = master
[submodule "scene_identification_tagging"]
	path = scene_identification_tagging
	url = https://github.com/EmaroLab/scene_identification_tagging.git
	branch = master
[submodule "owloop"]
	path = owloop
	url = https://github.com/EmaroLab/owloop.git
	branch = master
[submodule "sit_armor"]
	path = sit_armor
	url = https://github.com/EmaroLab/sit_armor.git
	branch = master
